*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  background-color: #5FAFB3;
  text-align: center;
}
h1{
  margin-bottom: 100px;
  font-size: 4rem;
}

.bg-ochra {
  background-color: #EBAB00;
}

.bg-darkcyan {
  background-color: #2F6F6B;
}

.bg-seablue {
  background-color: #0B6C94;
}

.bg-lightyellow {
  background-color: #EBDC4F;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10 - 10px);
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}